<h1>Species</h1>

<ul>
  <% @species.each do |specie| %>
    <li><a href="/species/<%= specie.id %>"><%= specie.name %></a>
       <form action="/specie/<%= specie.id %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <input name="specie[done]" type="hidden" value="true">
        <p>Would you like to <a href="/sightings/new">add a sighting</a>?</p>
        <a href="/species/<%= specie.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a>
      <p></p>
      </form>
    </li>
  <% end %>
  <p>Would you like to <a href="/species/new">create a new one</a>?</p>
</ul>
